.a1{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}


ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

main{
    text-align: center;
}

.ota{
    display: flex;
    flex-wrap:wrap ;
    gap: 60px;


}

.a2{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
} 
